
div.progress-sec-container{
  width: 100%;
  height: 200px;
  margin: 30px 0;

}
div.progress-sec{
  // width: 90%;
  width: 95%;
  height: 200px;
  margin:  auto;
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
   position: relative;
}

.first{
  background-image: url('../img/first_tab.png');
}
.second{
  background-image: url('../img/second_tab.png');
}
.third{
  background-image: url('../img/third_tab.png');
}
.fourth{
  background-image: url('../img/fourth_tab.png');
}
.progress-sec > .step{
  position: absolute;
  width: 150px;
  height: 100%;
  // border: 1px solid gray;

}


.first-step{
  left: 17.5px;
}
.second-step{
  left: 242px;
}
.third-step{
  left: 464px;
}
.fourth-step{
  left: 687px;
}
div.progress-contents{
  position: relative;
  width: 100%;
  height: 100%;
}
.step-title{
  text-align: center;
  position: absolute;
  top: 70px;
  margin: auto;

}

.show > .step-title{
  font-weight: bold;
}
.percent {
  display: none;
}
.show > .percent{
  display: block;
}
.current-step{
  position: absolute;
  bottom: 0px;
  margin: 20px;
}

.percent-circle{
  top: 5.5px;
  width: 100%;
  margin: auto;
  position: relative;
}
.prog-circ{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
}
.percent-text{
  position: absolute;
  left: 0;
  right: 0;
  width: 50px;
  text-align: center;
  margin: 18px auto;
  font-size: 14px;
  font-weight: bold;
}
